body {
  font-family: Arial;
  text-align: center;
  transition: background 1s;
}

.card {
  background: rgba(255, 255, 255, 0.4) !important;
  padding: 20px;
  margin: 20px auto;
  width: 300px;
  border-radius: 15px;
}